.loginBody {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(315deg, rgb(195, 54, 186) 3%, rgba(60, 132, 206, 1) 38%, rgba(48, 238, 226, 1) 68%, rgb(233, 55, 102) 98%);
    animation: gradient 7s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.loginBody .css-46bh2p-MuiCardContent-root{
    padding: 0 !important;
}

.loginCard {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    padding: 0px 20px;
    margin: 10px;
    border-radius: 10px !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 1px 2px rgba(0, 0, 0, 0.25) !important;
}

.loginBodyDiv{
    display: grid;
    grid-template-columns: 50% 50%;
}

.forgotBodyDiv{
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 50px;
}

.loginInputsBody{
    display: grid;
    place-content: center;
}

.loginBackgroundImg{
    text-align: center;
    background-image: url("../../assets/backgroungImg.jpeg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 600px;
    width: 600px;
    padding: 0px !important;
}

.loginLogoDiv{
    display: grid;
    place-items: center;
}

.logoText{
    font-size: 30px;
    font-weight: 600;
    color: green;
}

.loginInputsDiv {
    padding: 30px 20px;
    display: grid;
    align-items: center;
    justify-items: center;
    row-gap: 20px;
    transition: step-start 10s;
}

.loginInputs {
    width: 35ch;
    border-radius: 20px !important;
}

.forgitPaswText {
    position: relative;
    left: 195px;
    top: 5px;
    font-size: 13px;
    color: blue;
}

.submitLoginBtn {
    background: green !important;
    border-radius: 30px !important;
    color: #fff !important;
    width: 200px;
    height: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px !important;
}

.forgotpassBtn2 {
    background: green !important;
    border-radius: 30px !important;
    color: #fff !important;
    width: 140px;
    height: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.forgotpassBtn1{
    background: rgb(181, 231, 181) !important;
    border-radius: 30px !important;
    color: green !important;
    border: 2px solid green !important;
    width: 140px;
    height: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.errorMessage {
    font-size: 13px;
    color: red;
    padding: 4px 0px 0px 10px;
}

.forgotPassBtns{
    display: flex;
    column-gap: 32px;
}

.forgotImg{
    width: 500px;
    height: 500px;
}

.successIcon {
    display: grid;
    justify-items: center;
    align-items: center;
    color: green !important;
}
.successIcon .css-i4bv87-MuiSvgIcon-root {
    font-size: 4rem !important
}
.successMessage {
    display: flex;
    place-content: center;
    margin: 20px 0px 20px 50px;
    min-width: 10px;
    justify-content: center;
    text-align: center;
}

.loginBtnDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
}


@media screen and (max-width: 830px) and (min-width: 730px){
    .forgotImg {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 780px) {
    .loginBackgroundImg{
        display: none;
    }
    .successMessage{
        margin: 10px;
    }
    .loginBodyDiv {
        display: grid;
        grid-template-columns: 100% 100% !important;
        padding: 20px;
    }

    .forgotBodyDiv {
        display: grid;
        grid-template-columns: 100%;
        padding: 20px;
    }

    .forgotImg{
        display: none;
    }

}
